body {
	background-color: #111;
	color: #DDD;
}
.calc {
	width: 500px;
	margin: 30px auto;
	background: #080808;
}
input {
	margin: 20px 0	;	
	height: 90px;
	width: 457px;
	color: #111;
	text-align: right;
	padding-right: 15px;	
	font-size: 36px; 
	outline: none;
	border-radius: 5px;
	border: none;
	box-shadow: none; 
}
input:hover, input:active, input:focus {
	border: none;
	box-shadow: none; 
} 
.row {
	text-align: center;
	margin: 5px auto;

}
.row>div {
	display: inline-block;
	border-radius: 5px;
	transition: ease .3s;
	cursor: pointer;
}
.row>div:hover{
	background: rgb(167, 67, 21);
	color: #FFF;
	border: 1px solid #111;
}
.numbers {
	padding-top: 5px;
	font-size: 50px;
	width: 110px;
	height: 70px;
	border: 1px solid #DDD;
	border-radius: 3px;
}
.bigBtn {
	padding: 10px 0;
	font-size: 50px;
	width: 226px;
	border: 1px solid #DDD;
	border-radius: 3px;	
	margin-bottom: 20px;
}











